* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans';
}

header {
    background-image: url(../images/banner/banner1.png);
    width: 1600px;
    height: 808px;
}

.banner-title {

    font-weight: 700;
    font-size: 65px;

    /* padding: 216px 230px 364px 845px; */
    padding-top: 216px;
    padding-right: 230px;
    padding-left: 845px;
    text-align: right;
}

.banner-description {

    font-weight: 400;
    font-size: 16px;
    text-align: right;
    color: #444343;
    /* padding: 668px 230px 262px 876px; */

    padding-right: 230px;
    padding-left: 845px;
}

.banner-button {
    border-radius: 5px;
    border: 0;
    width: 160px;
    height: 64px;
    background-color: chocolate;
    margin-left: 1210px;
    margin-top: 32px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;

}

/* section style */
.about-me {
    display: flex;
    gap: 87px;
    /* justify-items: auto; */



}

.about-title {
    width: 288px;
    height: 94px;
    font-weight: 700;
    font-size: 40px;
    color: #151414;

    margin-top: 450px;
    margin-bottom: 30px;

}

.about-description {
    width: 416px;
    height: 104px;
    font-weight: 400;
    font-size: 16px;
    color: #444343;
}

.about-sort {
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin-bottom: 10px;


}

.about-image {
    width: 569px;
    height: 723.3px;
    margin-top: 231px;
    margin-left: 206px;
}

/* my plan style */
.plan-container {
    display: flex;
    gap: 40px;
    margin-left: 250px;
    margin-right: 250px;

}

.section-title {
    margin-top: 130px;
    margin-bottom: 55px;
    font-weight: 700;
    font-size: 40px;
    width: 179px;
    height: 47px;
    color: #151414;
    text-align: center;
    margin-left: 711px;
    margin-right: 710px;

}

.plan-topic {
    color: #151414;
    font-weight: 700;
    font-size: 30px;
    width: 270px;
    height: 35px;
    margin-top: 16px;
    margin-bottom: 16px;

}

.plan-how {
    font-weight: 400px;
    font-size: 25px;
    color: #737272;
    width: 300px;
    height: 29px;
}

/* connect style */

.connect {
    background-image: url(../images/gradient2.png);
    width: 1140px;
    height: 300px;
    margin: 130px 230px;
    border-radius: 8px;
}

.connect {

    width: 1140px;
    height: 300px;
    margin: 130px 230px;
    background-size: cover;
    background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%), url(../images/watch.png);

    border-radius: 8px;
    background-size: cover;

}

.connect h3 {
    padding-left: 60px;
    padding-top: 60px;
    width: 459px;
    height: 94px;
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;


}

.connect button {
    margin-left: 60px;
    margin-top: 25px;
    width: 150px;
    height: 64px;
    background-color: wheat;
    border: 0;
    border-radius: 5px;
    color: #F15B22;
    text-align: center;
    font-weight: 600;
    font-size: 20px;

}

/* footer style  */
.footer-container {
    display: flex;
    gap: 200px;
}

footer {
    background-color: #151414;
    width: 1600px;
    height: 577px;
}

.footer-left {
    padding-top: 130px;
    padding-left: 230px;
}

.footer-left h4 {
    width: 148px;
    height: 53px;
    font-weight: 700;
    font-size: 45px;
    color: #F8F8F8;
    margin-bottom: 20px;
}

.footer-left p {
    width: 485px;
    height: 78px;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;

}

.footer-left h5 {
    width: 184px;
    height: 26px;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 15px;
    margin-top: 15px;


}

.footer-left h6 {

    width: 184px;
    height: 26px;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;


}

.footer-right {
    padding-top: 130px;
    padding-left: 230px;

}

.footer-icon-container {
    display: flex;
    gap: 10px;
}

.footer-right h4 {
    width: 123px;
    height: 29px;
    font-weight: 600;
    font-size: 25px;
    color: #FFFFFF;
    margin-bottom: 30px;

}

.footer-right input {
    width: 300px;
    height: 50px;
    border-radius: 5px;
    margin-bottom: 20px;
    padding-left: 15px;
    font-weight: 400;
    font-size: 18px;
    color: #F3F3F3;
    background-color: #151414;
    
}
.footer-right button{
    width: 170.11px;
height: 64px;
   
color: #F15B22;
padding: 10px;
font-size: medium;
border-radius: 5px;
border: 0;
text-decoration: #F15B22;
font-weight: 600;
font-size: 20px;
}